<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Initiation">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
